:root {
  --calculatorBackground: #B6AA9C;
  --background: #232423;
  --buttons: #5E4434;
  /* --buttonsOperation: #765C3C; */
}

html {
  /* footer support */
  /* position: relative; */
  height: 100%;
  min-width: 100%;
  /* font-family: Merriweather; */
}

/* reset */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  width: 350px;
  background-color: var(--calculatorBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 15px;
}

.btns {
  width: 100%;
  display: grid;
  justify-content: center;
  /* align-items: center; */
  /* grid-column-gap: 50px; */
  grid-template-columns: auto auto auto auto;
  row-gap: 10px;
  column-gap: 20px;
  padding: 10px;
  margin: 15px;
}

.btnOperation, .btnNumber {
  background-color: var(--buttons);
  color: white;
}

.btnOperation, .btnNumber {
  height: 45px;
  width: 55px;
  padding: 10px;
  border-radius: 10px;
  border: transparent;
  font-size: 20px;
}

.display {
  background-color: var(--background);
  margin: 15px;
  margin-top: 25px;
  margin-bottom: 0px;
  padding: 10px;
  width: 85%;
  border-radius: 10px;
  color: white;
  text-align: end;
}

.oldResults {
  font-size: 17px;
}

.oldResult {
  padding-top: 7px;
}

.currentOperation {
  padding-top: 7px;
  /* height: 30px; */
  min-height: 30px;
}

.oldResult, .currentOperation {
  overflow-wrap: anywhere;
}

.footer {
  /* position: absolute;
  bottom: 0;
  left: 0;*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%; 
  padding-top: 10px; 
  font-size: 17px;
  color: wheat;
  vertical-align: middle;
}

.gitBtn {
  background-image: url('./imgs/github-logo.svg');
  background-color: wheat;
  background-size: 99%;
  border: none;
  border-radius: 10px;
  width: 25px;
  height: 25px;
  cursor:pointer;
  
}